@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
    src: url( 'Montserrat-SemiBoldItalic.woff2') format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url( 'Montserrat-SemiBold.woff2') format("woff2");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
    src: url( 'Montserrat-BoldItalic.woff2') format("woff2");
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
    src: url( 'Montserrat-SemiBoldExtra.woff2') format("woff2");
}

@font-face {
    font-family: "Geologica";
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url( 'Geologica-SemiBold.woff2') format("woff2");
}

@font-face {
    font-family: "Geologica";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url( 'Geologica-Regular.woff2') format("woff2");
}

@font-face {
    font-family: "Geologica";
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
    src: url( 'Geologica-Light.woff2') format("woff2");
}

@font-face {
    font-family: "Geologica";
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
    src: url( 'Geologica-ExtraLight.woff2') format("woff2");
}

@font-face {
    font-family: "Geologica";
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
    src: url( 'Geologica-Light.woff2') format("woff2");
}


@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url( 'Inter_24pt-Medium.ttf') format("woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url( 'Inter_24pt-Bold.ttf') format("woff2");
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
    src: url( 'Inter_18pt-Regular.woff2') format("woff2");
}

@font-face {
    font-family: "PlusJakartaSans";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url( 'PlusJakartaSans-SemiBold.ttf') format("woff2");
}