.subscription {
  max-width: 862px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.subscription * {
  margin: 0;
  padding: 0;
}

.subscription__title {
  margin-bottom: 12px;
  font-size: 32px;
  color: rgba(var(--color-foreground));
}

.subscription__subtitle {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.32px;
  line-height: normal;
  color: rgba(var(--color-foreground-2));
}

.subscription__field-wrapper {
  display: flex;
  justify-content: center;
}

.subscription__field {
  width: 100%;
  display: flex;
  gap: 24px;
}

.subscription-field__input {
  max-width: 584px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(var(--color-border));
  background: #FFF;
  padding: 16px;

  color: inherit;
  font-family: PlusJakartaSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;

  margin: 0;
}

.subscription-field__input::placeholder {
  font: inherit;
  color: rgba(var(--color-foreground-3));
  margin: 0;
  font-family: PlusJakartaSans;
}

.subscription-form__button {
  min-width: 254px;
  padding: 16px 32px 16px 42px;
  background-color: #000;
  border-radius: 8px;
  border: none;

  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.subscription-form__button:after,
.subscription-form__button:before{
  content: none;
}

.subscription-form__button p {
  color: #fff;
}

.subscription-form__button svg {
  width: 24px;
  height: 24px;
}

.subscription-form__button svg path {
  fill: #fff;
}

.subscription-form__message {
  margin-top: 15px;
}

@media screen and (max-width: 749px) {

  .subscription__title {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .subscription__subtitle {
    font-size: 14px;
    margin-bottom: 17px;
    line-height: 140%;
    letter-spacing: 0.28px;
  }

  .subscription__field {
    flex-direction: column;
    gap: 12px;
  }

  .subscription-field__input {
    max-width: 100%;
    font-size: 14px;
    letter-spacing: 0.28px;
  }

  .subscription-field__input::placeholder {
    font: inherit;
  }

  .subscription-form__button p {
    font-size: 14px;
  }

  .subscription-field__input{
    padding: 11px 16px;
  }

  .subscription-form__button{
    padding: 14px 32px 14px 42px;
  }
}