.media-text-grid__heading,
.media-text-grid__heading * {
  margin: 0;
  margin-bottom: 32px;
}

.media-text-grid__heading strong {
   background-image: var(--default-pink-color); 
   color: transparent; 
   background-clip: text;
}

.media-text-grid__picture {
  flex: 0 1 50%;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
  overflow: hidden;
}
.media-text-grid__picture img {
  width: 100%;
  height: 100%;
}
.media-text-grid__text-grid {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}
.media-text-grid__item img {
  width: 60px;
  height: auto;
  aspect-ratio: 1 / 1;
}
.media-text-grid__item .media-text-grid__text strong {
  font-size: 22px;
}
.media-text-grid__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 1;
  gap: 30px;
  margin-bottom: 40px;
}
.media-text-grid__container {
  display: flex;
  gap: 40px;
  align-items: center;
}
.media-text-grid__container.reverse {
  flex-direction: row-reverse;
}
.media-text-grid__buttons {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.media-text-grid__buttons .button {
  max-width: 440px;
  width: 100%;
}

.media-text-grid__guarantee {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 440px;
  display: flex;
  justify-content: center;
}
.media-text-grid__guarantee-image {
  width: 26px;
  height: 26px;
}
.media-text-grid__guarantee-text {
  font-size: 14px;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .media-text-grid__item .media-text-grid__text strong {
    font-size: 16px;
  }
}

@media screen and (max-width: 749px) {
  .media-text-grid__container {
    flex-direction: column;
    align-items: unset;
  }
  .media-text-grid__container.reverse {
    flex-direction: column-reverse;
  }
  .media-text-grid__heading, 
  .media-text-grid__heading * {
    text-align: center;
  }
  .media-text-grid__buttons .button,
  .media-text-grid__guarantee {
    max-width: unset;
    width: 100%;
  }
  .media-text-grid__item {
    text-align: center;
  }
}