
.image-with-list * {
  margin: 0;
  padding: 0;
}

.image-with-list__heading-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 32px;
}

.image-with-list__subtitle {
  font-weight: 200;
  color: rgba(var(--color-foreground-2))
}

.image-with-list__grid{
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
}

.image-with-list__media {
  border-radius: 8px;
  overflow: hidden;
}

.image-with-list__media video{
  display: block;
  width: 100%;
}

.image-with-list__grid img{
  width: 100%;
  height: auto;
}

.image-with-list__grid--reverse {
  flex-direction: row-reverse;
}

.image-with-list__text-item {
  flex: 0 0 calc(57.5% - 20px)
}

.image-with-list__media-item {
  flex: 0 0 calc(41.3795% - 20px)
}

.image-with-list__grid{
  gap: 40px;
}

.image-with-list__group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.image-with-list__item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px 24px;

  border-radius: 8px;
  border: 1px solid rgba(var(--color-border));
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.02);
}
.image-with-list__image {
  max-width: 38px;
  max-height: 38px;
  width: 100%;
  height: 100%;
}

.image-with-list__grid img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-with-list__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.image-with-list__content h4 {
  color: rgba(var(--color-foreground-2))
}

.image-with-list__content p {
  color: rgba(var(--color-foreground-3));
  letter-spacing: 0;
  font-weight: 300;
}

video-wrapper{
  position: relative;
  display: block;
}

.image-with-list__play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
}

video-wrapper:after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.image-with-list__play svg{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 749px) {

  .image-with-list__heading-content {
    gap: 8px;
    margin-bottom: 16px;
  }

  .image-with-list__grid {
    flex-direction: column;
    gap: 16px;
  }

  .image-with-list__group {
    gap: 11px;
  }

  .image-with-list__item {
    padding: 11px;
    gap: 16px;
  }

  .image-with-list__content {
    gap: 4px;
  }
  .image-with-list__image {
    max-width: 32px;
    max-height: 32px;
  }
}